.site-layout-background .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.site-layout-background .trigger:hover {
  color: #1890ff;
}

.main-layout .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
  background-image: url('Teledoc.png');
}

.main-layout .site-layout-background {
  background: #fff;
}

.page-layout-background {
  margin: 23px 16px;
  padding: 24px;
  min-height: calc(100vh - 110px);
  background: #fff;
}

h1 {
  font-size: 26px;
}

.ant-menu.ant-menu-dark .ant-menu-item {
  transition: all ease-in 0.4s;
} 

.ant-menu.ant-menu-dark .ant-menu-item-selected:nth-child(1) {
  background-color: rgb(24, 144, 255);
}

.ant-menu.ant-menu-dark .ant-menu-item-selected:nth-child(2) {
  background-color: rgb(255, 38, 75);
}

.ant-menu.ant-menu-dark .ant-menu-item-active {
  background-color: rgb(17, 71, 124)
}
